.button {
  background-color: rgb(82, 82, 82);
  border-radius: 4px;
  height: 58px;
  width: 37px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 6px 0 0;
  border: none;
  @media screen and (max-width: 400px) {
    width: 32px;
  }
  // background-color: rgb(83, 83, 83);
  // background-color: green;
}

.specialButton{
    background-color: rgb(82, 82, 82);
    border-radius: 4px;
    height: 58px;
    width: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin: 0 6px 0 0;
    @media screen and (max-width: 400px) {
      width: 48px;
    }
}

.buttonLetter {
  color: white;
  font-size: 1.1rem;
  align-self: center;
  @media screen and (max-width: 400px) {
    font-size: 12px;
  }
}

.keyboardRow{
    display: flex;
    margin: 0 auto 8px;
}

.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}