.lettersContainer {
  display: flex;
  width: 21rem;
  justify-content: space-around;
  align-self: center;
}

@mixin letterBlock {
  width: 3.7rem;
  height: 3.7rem;
  border: 1px solid rgba(255, 255, 255, 0.445);
  display: flex;
  justify-content: center;
}

.normalLetterBlock{
  @include letterBlock();
}

.correctLetterBlock{
  @include letterBlock;
  background-color: green;
}

.almostLetterBlock{
  @include letterBlock;
  background-color: orange;
}

.letter {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  align-self: center;
}
